extends header

block content
	div#fourohX
		| 401 Unauthorized
	h2
		| <br><br>"You cannot pass."<br>
		//- Delete this line?
	div
		| Go back and sign in so we know you're one of the fellowship.<br>
		| Do so, and then you shall pass.