extends header

block content
	div#fourohX
		| 404 Not Found
	h2
		| <br><br>"Oh no, not again."<br>
	div
		| Many people speculate that if we knew exactly why some webpages can't be found<br>
		| we would know a lot more about the nature of the Universe than we do now.