extends header

block content
	div#fortytwo 42
	div
		| There was an infinite improbability that you would end up here, yet here you are.<br>
		| So don't panic, lay down on your towel and have a Pangalactic Gargleblaster!