extends header

block content
	h1 #{title}
	div
		h2 Authors:
		div
			div#FG.author
				| Fabio<br>
				| Gius
			| &nbsp;
			div#AP.author
				| Andrea<br>
				| Pasciucco
			| &nbsp;
			div#GDA.author
				| Giuseppe<br>
				| D'Alpino

	div
		h2 Why?
		div.descript Project for "Reti di Calcolatori", a.a. 2015/16

	div
		h2 More?
		div.descript
			| Source code and documentation on 
			a(href='https://github.com/Silvernightwolf/Tweet-A-FeelingForRC') GitHub