#userBox {
	float: right;
    clear: right;
    background-color: #edf0f7;
    border: 3px solid #3399ff;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 2px;
	text-align: center;
}
#userBox:hover {
    background-color: #dde3f0;
    border: 3px solid #3333ff;	
}

/*#userName {
	text-decoration: line-through;
}*/

table {
    width: 100%;
    border-collapse: collapse;
}

td {
	padding: 5px;
	width: 50%;
}

img {
	margin-top: 50px;
	margin-right: 15px;
}

.cellCenter {
	text-align: center;
}

.cellRight {
	text-align: right;
}

#leftCell, .west {
	width: 27%;
}
#middleCell {
	vertical-align: top;
	width: 46%;
}
#rigthCell {
	width: 27%
}

.west {
    text-align: right;
}

.n-s {
    vertical-align: middle;
    width: 46%;
}

#balloon {
    border: 3px solid #3399ff;
    border-radius: 12px;
}

.data {
    text-align: center;
    display: inline-block;
    padding: 5px 7px;
    border: 2px solid green;
    border-radius: 6px;
}
.tweets {
    padding: 10px 15px;
    background-color: #edf0f7;
    border: 3px solid #3399ff;
    border-radius: 12px;
    margin-left: 10px;
}

input[type=submit] {
    background-color: #3399ff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    color: white;
}
input[type=submit]:hover {
    background-color: #3333ff;
    transform: scale(1.05, 1.05);
}

input[type=reset] {
	background-color: #cc0000;
	font-weight: bold;
	border: none;
    border-radius: 5px;
	padding: 3px 10px;
    color: white;
}
input[type=reset]:hover {
    background-color: #ff0000;
    transform: scale(1.05, 1.05);
}

.headerForm {
    display: inline;
}

#spacer {
    border: none;
    height: 3px;
}

#notifNum {
    display: inline;
    border: 1px solid red;
    border-radius: 3px;
    padding: 0 3px;
}

#logout {
	background-color: #a0a0a0;
	font-weight: bold;
	border: none;
    border-radius: 5px;
	padding: 3px 10px;
    color: white;
}
#logout:hover {
    background-color: #ff0000;
    transform: scale(1.05, 1.05);
}

textarea {
	background-image: url('Twitter_icon.png');
	background-repeat: no-repeat;
	background-position: 4px 4px;
	padding-left: 30px;
}

select {
    border: none;
    border-radius: 4px;
	padding: 3px 10px;
    background-color: #d6d6d6;
}
select option {
	background-color: #f2f2f2;
}
