#userBox {
	float: right;
    clear: right;
    background-color: #edf0f7;
    border: 3px solid #3399ff;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 2px;
	text-align: center;
}
#userBox:hover {
    background-color: #dde3f0;
    border: 3px solid #3333ff;	
}

#logout {
    background-color: #a0a0a0;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    color: white;
}
#logout:hover {
    background-color: #ff0000;
    transform: scale(1.05, 1.05);
}

#back {
    background-color: #00BB00;/*#3399ff;*/
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    color: white;
}
#back:hover {
    background-color: #007700;
    transform: scale(1.05, 1.05);
}

.headerForm {
    display: inline;
}

#spacer {
    border: none;
    height: 3px;
}

#notifNum {
    display: inline;
    border: 1px solid red;
    border-radius: 3px;
    padding: 0 3px;
}

#avatar {
    border-radius: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.east, .west {
    width: 25%;
}

.left {
    width: 15%;
   /* border: 2px dotted red;*/
    text-align: center;
}

.right {
    width: 35%;
    /*border: 2px dotted orange;*/
}

.data {
    padding: 5px 7px;
    border: 2px solid green;
    border-radius: 6px;
    margin-bottom: 5px;
}

.balloon {
    padding: 10px 15px;
    background-color: #edf0f7;
    border: 3px solid #3399ff;
    border-radius: 12px;
    margin-left: 15px;
}

input[type=submit] {
    background-color: #3399ff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    color: white;
}
input[type=submit]:hover {
    background-color: #3333ff;
    transform: scale(1.05, 1.05);
}

.cellCenter {
    text-align: center;
}

.followMenu {
    text-align: center;
    padding: 15px 6px;
}
.followMenu form {
    display: inline-block;
}
.followMenu fieldset {
    text-align: left;
    border: 2px solid #3399ff;
    border-radius: 7px;
    /*border: none;*/
}
.followMenu input[type=submit] {
    margin-top: 3px;
}

legend {
    margin: 0px auto;
    font-weight: bold;
    border: 2px solid #3399ff;
    border-radius: 7px;
    padding: 0px 5px;
}