div, h2, td {
    text-align: center;
}

table {
    width: 100%;
}

td {
    padding-bottom: 10px;
}

#balloon {
    border: 3px solid #3399ff;
    border-radius: 12px;
    display: inline-block;
    padding: 10px;
}

.des {
    width: 100px;
    display: inline-block;
    border: 3px solid #3399ff;
    border-radius: 6px;
    padding: 5px;
    margin: 0px 15px;
    vertical-align: middle;
}
.des:hover {
    border: 3px solid #3333ff; 
    background-color: #ccddff;
    transform: scale(1.05, 1.05);  
}